body {
        font-family: Arial, sans-serif;
        background-color:#FFDFDB ;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color:#CE6A6B;
        color: #fff;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        width: 100px;
        height: auto;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li {
        margin-right: 20px;
    }
    
    .user-actions a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }
    
    .container {
        max-width: 960px;
        margin: 20px auto;
        padding: 0 20px;
    }
    
    #titleAboutUs {
        color: #333;
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .shop-name {
        font-weight: bold;
        color: #333;
    }
    
    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    
    .options{
        color: #FFDFDB;
        text-decoration: none;
    }



    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #CE6A6B;
        padding: 20px;
        color: #fff;
        height: 100px;
    }
    
    .main-header .logo img {
        width: 140px;
        height: 90px;
    }
    
    .main-header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .main-header nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    .main-header nav ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    .main-header .user-actions a {
        text-decoration: none;
        color: #fff;
        margin-left: 20px;
    }
    
    @media screen and (max-width: 600px) {
        .main-header {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .main-header .logo {
            margin-bottom: 20px;
        }
    
        .main-header .user-actions {
            margin-top: 20px;
        }
    }
    
    
    /* public/css/cartStyle.css */
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
    